@*
    
*@
@{
}
<section id="section-6451e7f3ca1f7" class="s123-module s123-module-blogs layout-2" data-module-id="6451e7f3ca1f7"
         data-module-type-num="52">
    <div data-aos="fade-up" class="container-fluid page_header_style noBackground aos-init aos-animate">
        <div class="row">
            <div class="container moduleTitleContainer">
                <div class="row modulesTitle text-center">
                    <div class="col-xs-12">
                        <div class="page-header-wrap">
                            <h2 id="section-6451e7f3ca1f7-title" class="s123-page-header  ">За нас</h2>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row">
            <div class="ipost col-sm-12 padding-bottom-2">
                <div class="blog-post-box box-primary s123-box-clean preview-highlighter"
                     data-unique-id="6451e7efc7694">
                    <a href="/blog/how-to-make-extra-money"
                       class="s123-fast-page-load full-image-width">
                        <div class="blog-post-img bgLazyload full-image-width entered loaded"
                             data-bg="https://static1.s123-cdn-static-a.com/ready_uploads/media/1808586/2000_5dd0de7f2ef61.jpg"
                             role="img" aria-label="HOW TO MAKE EXTRA MONEY"
                             style="background-position: center center; background-image: url(&quot;https://static1.s123-cdn-static-a.com/ready_uploads/media/1808586/2000_5dd0de7f2ef61.jpg&quot;);"
                             data-ll-status="loaded"></div>
                    </a>
                    <div class="content">
                        <div class="blog-title">
                            <h3 class="t400">
                                <a href="/blog/how-to-make-extra-money" class="s123-fast-page-load"
                                   aria-label="HOW TO MAKE EXTRA MONEY">КРЕСА ООД</a>
                            </h3>
                        </div>
                        <div class="blog-content responsive-handler fr-view breakable">
                            <p class="blog-content-description">
                                Фирмата Креса ООД е специализирана в строителство от
                                2003 год. Изпълнявала е договори<br>
                                в страната и чужбина като: Париж, Марсилия, Лондон.<br>
                                Работим в тенденция с най-новите въведения в интериорните дизайни; модулните кухни и
                                елегантният<br>
                                стил на съвременните бани. Наличието на собствено съвременно оборудване и техника,
                                позволява изпълнението на всякакъв вид задачи.
                            </p>
                        </div>
                        <div class="blog-bottom">
                            <div class="blog-post-info"></div><a href="/blog/how-to-make-extra-money"
                                                                 class="more-link s123-fast-page-load" aria-label="Read More">
                                Вижте нашата работа<i class="svg-m s123-icon-converter " data-icon-name="angle-right"
                                                      style=" mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/angle-right.svg?v=2'); -webkit-mask: url('https://static1.s123-cdn-static-a.com/ready_uploads/svg/angle-right.svg?v=2');"
                                                      data-ie11-classes="" alt="angle-right">&nbsp;</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>