<section id="section-641068fdd5f52" class="s123-module s123-module-faq layout-1" data-module-id="641068fdd5f52"
         data-module-type-num="11">
    <div data-aos="fade-up" class="container-fluid page_header_style noBackground aos-init aos-animate">
        <div class="row">
            <div class="container moduleTitleContainer">
                <div class="row modulesTitle text-center">
                    <div class="col-xs-12">
                        <div class="page-header-wrap">
                            <h2 id="section-641068fdd5f52-title" class="s123-page-header  ">Отзиви</h2>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="text-center">
            <!-- Categories Area -->
            <div class="row" style="display:none;">
                <div class="s123-categories col-xs-12">
                    <div class="m-r-s"></div>
                    <ul class="items-categories-container">
                        <li data-categories-filter="all" class="active"><a href="#">All</a></li>
                    </ul>
                    <div class="m-r-s"></div>
                </div>
            </div><!-- Items Area -->
            <div class="row">
                <div class="faq-category" data-categories-filter="all" style="display: block;">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="box box-primary s123-box-padding s123-box-margin-bottom s123-box-top-primary-border s123-box-flying-up preview-highlighter"
                             data-unique-id="641068fb4a7fd">
                            <h4>Do you need an effective FAQ list?</h4>
                            <div class="responsive-handler fr-view breakable">
                                This is one of the places you can use for adding
                                FAQ answers on your website. You can edit all of this text and replace it with anything you want
                                to answer for your client. Edit your FAQ page from the Pages tab by clicking the edit button.
                            </div>
                        </div>
                        <div class="box box-primary s123-box-padding s123-box-margin-bottom s123-box-top-primary-border s123-box-flying-up preview-highlighter"
                             data-unique-id="641068fb48fba">
                            <h4>Got questions that need answering?</h4>
                            <div class="responsive-handler fr-view breakable">
                                This is one of the places you can use for adding
                                FAQ answers on your website. You can edit all of this text and replace it with anything you want
                                to answer for your client. Edit your FAQ page from the Pages tab by clicking the edit
                                button.&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="box box-primary s123-box-padding s123-box-margin-bottom s123-box-top-primary-border s123-box-flying-up preview-highlighter"
                             data-unique-id="641068fb47a10">
                            <h4>What do you want your clients to know?</h4>
                            <div class="responsive-handler fr-view breakable">
                                This is one of the places you can use for adding
                                FAQ answers on your website. You can edit all of this text and replace it with anything you want
                                to answer for your client. Edit your FAQ page from the Pages tab by clicking the edit button.
                            </div>
                        </div>
                        <div class="box box-primary s123-box-padding s123-box-margin-bottom s123-box-top-primary-border s123-box-flying-up preview-highlighter"
                             data-unique-id="641068fb460c1">
                            <h4>Want your clients to learn about your business?</h4>
                            <div class="responsive-handler fr-view breakable">
                                This is one of the places you can use for adding
                                FAQ answers on your website. You can edit all of this text and replace it with anything you want
                                to answer for your client. Edit your FAQ page from the Pages tab by clicking the edit button.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
