<section id="top-section"
         class="homepage_style_1 top_magic_homepage_kind_1  old_homepage_layout_log old_homepage_layout_structure_log ">
    <div class="home_background_wrapper">
        <div class="home-image-bg "></div>
    </div>
    <div class="magic_homepage magic_homepage_kind_simple magic_homepage_kind_1 homepage-layout-24 container parent_simple_object_position_center_center">
        <div class="home_main_wrapper main_ele_place_top simple_object_position_center_center" data-main-goal="no"
             data-second-goal="no">
            <div class="box_container boxStyle_">
                <div class="hm-t-c boxBorder  ele_align_center">
                    <h1 id="home_siteSlogan" class=" weight400  shadow1  hm-txt">КРЕСА ООД</h1>
                    <h2 id="home_siteSlogan_2" class=" weight400  shadow1  hm-txt" style="display:none"></h2>
                    <p id="home_SecondSiteSlogan" class=" weight400   background2 hm-txt">
                        Ние превръщаме вашите мечти в
                        реалтост
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>