<section id="section-641033f2d5f04" class="s123-module s123-module-gallery layout-6 disable-context-menu"
         data-module-id="641033f2d5f04" data-module-type-num="1" data-prevent-download-image="">
    <div data-aos="fade-up" class="container-fluid page_header_style noBackground aos-init aos-animate">
        <div class="row">
            <div class="container moduleTitleContainer">
                <div class="row modulesTitle text-center">
                    <div class="col-xs-12">
                        <div class="page-header-wrap">
                            <h2 id="section-641033f2d5f04-title" class="s123-page-header  ">Галерия</h2>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row text-center">
            <div class="s123-categories col-xs-12" style="display:none;">
                <div class="m-r-s"></div>
                <ul class="filter">
                    <li data-filter="album" class="active"><a href="#">Album</a></li>
                </ul>
                <div class="m-r-s"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row isotope-gallery-container" style="position: relative; height: 631px;">
            <div class="gallery-images-container flickity-enabled is-draggable" data-filter="s123-g-show-all"
                 tabindex="0" style="position: absolute; left: 0px; top: 0px; display: none;">
                <div class="flickity-viewport" style="height: 300px; touch-action: pan-y;">
                    <div class="flickity-slider" style="left: 0px; transform: translateX(-40%);">
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f054f18"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 0%;">
                            <img alt=""
                                 src="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b5407ab20.jpg"
                                 class="flickity-lazyloaded">
                        </div>
                        <div class="gallery-image g-i is-selected" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f053143"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 60%;">
                            <img alt=""
                                 src="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b53f34702.jpg"
                                 class="flickity-lazyloaded">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f050eeb"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 120%;">
                            <img alt=""
                                 src="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b53e27983.jpg"
                                 class="flickity-lazyloaded">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f04f2ac"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 180%;">
                            <img alt=""
                                 src="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b5411a320.jpg"
                                 class="flickity-lazyloaded">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f04d585"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 240%;">
                            <img data-flickity-lazyload="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b53eae0bf.jpg"
                                 alt="">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f04b907"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 300%;">
                            <img data-flickity-lazyload="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b5414057e.jpg"
                                 alt="">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f049cca"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 360%;">
                            <img data-flickity-lazyload="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b544c2369.jpg"
                                 alt="">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f047b37"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 420%;">
                            <img data-flickity-lazyload="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b545c3de8.jpg"
                                 alt="">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f046068"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 480%;">
                            <img data-flickity-lazyload="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b54a94298.jpg"
                                 alt="">
                        </div>
                    </div>
                </div><button class="flickity-prev-next-button previous" type="button" aria-label="previous">
                    <svg viewBox="0 0 100 100">
                        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
                    </svg>
                </button><button class="flickity-prev-next-button next" type="button" aria-label="next">
                    <svg viewBox="0 0 100 100">
                        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"
                              transform="translate(100, 100) rotate(180) "></path>
                    </svg>
                </button>
                <ol class="flickity-page-dots">
                    <li class="dot"></li>
                    <li class="dot is-selected"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                </ol>
            </div>
            <p class="gallery-image-caption" data-filter="s123-g-show-all"
               style="position: absolute; left: 0px; top: 600px; display: none;">
                <div class="gallery-image-text">&nbsp;</div>
            </p>
            <div class="gallery-images-container flickity-enabled is-draggable" data-filter="album" tabindex="0"
                 style="position: absolute; left: 0px; top: 0px;">
                <div class="flickity-viewport" style="height: 300px; touch-action: pan-y;">
                    <div class="flickity-slider" style="left: 0px; transform: translateX(-55%);">
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f054f18"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 0%;">
                            <img alt=""
                                 src="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b5407ab20.jpg"
                                 class="flickity-lazyloaded">
                        </div>
                        <div class="gallery-image g-i is-selected" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f053143"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 70%;">
                            <img alt=""
                                 src="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b53f34702.jpg"
                                 class="flickity-lazyloaded">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f050eeb"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 140%;">
                            <img alt=""
                                 src="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b53e27983.jpg"
                                 class="flickity-lazyloaded">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f04f2ac"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 210%;">
                            <img alt=""
                                 src="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b5411a320.jpg"
                                 class="flickity-lazyloaded">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f04d585"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 280%;">
                            <img data-flickity-lazyload="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b53eae0bf.jpg"
                                 alt="">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f04b907"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 350%;">
                            <img data-flickity-lazyload="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b5414057e.jpg"
                                 alt="">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f049cca"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 419.99%;">
                            <img data-flickity-lazyload="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b544c2369.jpg"
                                 alt="">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f047b37"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 489.99%;">
                            <img data-flickity-lazyload="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b545c3de8.jpg"
                                 alt="">
                        </div>
                        <div class="gallery-image g-i" data-tool-title="Галерия" title=""
                             data-image-page-url="/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B8%D1%8F/item-id-641033f046068"
                             data-image-description="" data-image-link="" data-image-link-text=""
                             style="position: absolute; left: 559.99%;">
                            <img data-flickity-lazyload="//static1.s123-cdn-static-a.com/uploads/2031/2000_5a15b54a94298.jpg"
                                 alt="">
                        </div>
                    </div>
                </div><button class="flickity-prev-next-button previous" type="button" aria-label="previous">
                    <svg viewBox="0 0 100 100">
                        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path>
                    </svg>
                </button><button class="flickity-prev-next-button next" type="button" aria-label="next">
                    <svg viewBox="0 0 100 100">
                        <path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"
                              transform="translate(100, 100) rotate(180) "></path>
                    </svg>
                </button>
                <ol class="flickity-page-dots">
                    <li class="dot"></li>
                    <li class="dot is-selected"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                </ol>
            </div>
            <p class="gallery-image-caption" data-filter="album" style="position: absolute; left: 0px; top: 600px;">
                <div class="gallery-image-text">&nbsp;</div>
            </p>
        </div>
    </div><!-- layout Customize --><input type="hidden" class="layout-customize"
                                          value="{&quot;number_images_in_row&quot;:3,&quot;mobile_number_images_in_row&quot;:1,&quot;hide_section_title&quot;:0}">
</section>