<section id="section-64103341d5ee3" class="s123-module s123-module-events layout-2"
         data-module-id="64103341d5ee3" data-module-type-num="2">
    <div data-aos="fade-up" class="container-fluid page_header_style noBackground aos-init aos-animate">
        <div class="row">
            <div class="container moduleTitleContainer">
                <div class="row modulesTitle text-center">
                    <div class="col-xs-12">
                        <div class="page-header-wrap">
                            <h2 id="section-64103341d5ee3-title" class="s123-page-header  ">Проекти</h2>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-3" style="display:none;">
                    <div class="categories-panel">
                        <div class="well box-primary">
                            <ul class="nav events-categories-container">
                                <li data-categories-filter="past-events" class="active"><a href="#">Past Events</a></li>
                            </ul>
                        </div>
                    </div>
                    <p class="events-responsive-filter"><a href="#">Filter</a></p>
                </div>
                <div class="col-xs-12">
                    <div class="events-container row row-flex">
                        <div data-event-filter="past-events" class="col-xs-6 col-sm-4 col-md-3 padding-bottom-2"
                             style="display: block;">
                            <div class="box box-primary s123-box-border preview-highlighter" data-unique-id="6410333e816c0">
                                <a href="/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B8/the-gathering"
                                   class="event-image s123-fast-page-load"
                                   style="background-image:url(https://static1.s123-cdn-static-a.com/ready_uploads/media/2704830/800_5e09d086afd33.jpg);"
                                   role="img" aria-label="The Gathering">
                                    <div class="event-date">16<span>Aug</span></div>
                                </a>
                                <div class="event-details-container">
                                    <h4>
                                        <a href="/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B8/the-gathering"
                                           class="s123-fast-page-load" aria-label="The Gathering">The Gathering</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div data-event-filter="past-events" class="col-xs-6 col-sm-4 col-md-3 padding-bottom-2"
                             style="display: block;">
                            <div class="box box-primary s123-box-border preview-highlighter" data-unique-id="6410333e7e6c3">
                                <a href="/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B8/the-big-conference"
                                   class="event-image s123-fast-page-load"
                                   style="background-image:url(https://static1.s123-cdn-static-a.com/ready_uploads/media/2953752/800_5e14dd130633d.jpg);"
                                   role="img" aria-label="The Big Conference">
                                    <div class="event-date">30<span>Nov</span></div>
                                </a>
                                <div class="event-details-container">
                                    <h4>
                                        <a href="/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B8/the-big-conference"
                                           class="s123-fast-page-load" aria-label="The Big Conference">The Big Conference</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div data-event-filter="past-events" class="col-xs-6 col-sm-4 col-md-3 padding-bottom-2"
                             style="display: block;">
                            <div class="box box-primary s123-box-border preview-highlighter" data-unique-id="6410333e7d29b">
                                <a href="/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B8/the-festival"
                                   class="event-image s123-fast-page-load"
                                   style="background-image:url(https://static1.s123-cdn-static-a.com/ready_uploads/media/3159505/800_5e215afa85fcf.jpg);"
                                   role="img" aria-label="The Festival">
                                    <div class="event-date">18<span>Aug</span></div>
                                </a>
                                <div class="event-details-container">
                                    <h4>
                                        <a href="/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B8/the-festival"
                                           class="s123-fast-page-load" aria-label="The Festival">The Festival</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div data-event-filter="past-events" class="col-xs-6 col-sm-4 col-md-3 padding-bottom-2"
                             style="display: block;">
                            <div class="box box-primary s123-box-border preview-highlighter" data-unique-id="6410333e7fac4">
                                <a href="/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B8/the-annual-convention"
                                   class="event-image s123-fast-page-load"
                                   style="background-image:url(//static1.s123-cdn-static-a.com/uploads/2031/800_5a16a56d8e978.jpg);"
                                   role="img" aria-label="The Annual Convention">
                                    <div class="event-date">25<span>Dec</span></div>
                                </a>
                                <div class="event-details-container">
                                    <h4>
                                        <a href="/%D0%9F%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B8/the-annual-convention"
                                           class="s123-fast-page-load" aria-label="The Annual Convention">The Annual Convention</a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>