<section id="section-6410339bd5ef6" class="s123-module s123-module-about layout-10 bg-primary"
         data-module-id="6410339bd5ef6" data-module-type-num="16">
    <div data-aos="fade-up" class="container-fluid page_header_style noBackground aos-init aos-animate">
        <div class="row">
            <div class="container moduleTitleContainer">
                <div class="row modulesTitle text-center">
                    <div class="col-xs-12">
                        <div class="page-header-wrap">
                            <h2 id="section-6410339bd5ef6-title" class="s123-page-header  ">Проект</h2>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <!-- Items Area -->
        <div class="row">
            <div class="col-xs-12">
                <div class="about-container text-on-top text-center preview-highlighter">
                    <div class="responsive-handler fr-view breakable about-description box box-primary box-text-primary">
                        The About page is the core description of your website. Here is where you let clients know what your
                        website is about. You can edit all of this text and replace it with what you want to write. For
                        example you can let them know how long you have been in business, what makes your company special,
                        what are its core values and more.<br><br>Edit your About page from the Pages tab by clicking the
                        edit button.
                    </div>
                    <div data-ride="carousel" class="carousel slide">
                        <div class="carousel-inner">
                            <!-- Carousel Slides / Quotes -->
                            <div class="item active one-item">
                                <div class="about-item">
                                    <div class="about-image bgLazyload entered loaded"
                                         data-bg="//static1.s123-cdn-static-a.com/uploads/2031/800_5a16bb1164caa.jpg" role="img"
                                         aria-label="Проект" data-ll-status="loaded"
                                         style="background-image: url(&quot;//static1.s123-cdn-static-a.com/uploads/2031/800_5a16bb1164caa.jpg&quot;);">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>